@charset "UTF-8";

footer {
	position: fixed;
	bottom: 0;
	background-color: #34699A;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 10px;
}

.nav-link {
	color: #fff !important;
}

.navbar-brand {
	color: #fff !important;
}

.card-header {
	background-color: #34699A;
	color: #fff !important;
}

.btn-primary {
	background-color: #34699A;
	color: #fff !important;
	border: 0;
}

.fullwidth {
	width: 100%;
}